[submodule "florr422_ss2015"]
	path = florr422_ss2015
	url = git@github.com:reginaflores/florr422_ss2015.git
[submodule "dothh489_ss2015"]
	path = dothh489_ss2015
	url = git@github.com:228miles/dothh489_ss2015.git
[submodule "millb313_ss2015"]
	path = millb313_ss2015
	url = git@github.com:benmirath/millb313_ss2015.git
